{% extends "partials/main.html" %} {% block tabs %} {{ super() }}
<style>
  .md-header {
    position: initial;
  }
  .md-main__inner {
    margin: 0;
  }
  .md-content {
    display: none;
  }

  .md-header .md-icon {
    color: #ffffff;
  }
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
      background-color: transparent;
    }
  }
  
  :root {
    --md-primary-fg-color: #ffffff;
    --md-primary-bg-color: #171c30;
    --md-primary-text-color: #ffffff;
    --md-secondary-text-color: #969fb9;
    --orb-blue: #3089fc;
  }

  :root > * {
    background-color: var(--md-primary-bg-color);
    color: var(--md-primary-text-color);
  }

  :root * div.md-grid {
    max-width: 75%;
    margin-left: auto !important;
  }



  :root > * a.md-button {
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: 374px;
    height: 56px;

    /* Orb Blue */

    background: var(--orb-blue);
    /* popup shadow */

    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    font-weight: 600;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */

    display: flex;
    align-items: center;

    /* White */

    color: var(--md-primary-text-color);

    border-color: transparent;
  }

  :root > * div.md-header__title {
    display: none;
  }

  :root > body > header.md-header {
    background-color: transparent;
    box-shadow: none;
  }

  :root > * nav.md-tabs {
    text-align: end;
    background-color: transparent;
    color: var(--md-primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    width: 75%;
  }

  :root > * .md-search__inner > .md-search__form {
    background-color: transparent;
    border-color: var(--md-primary-text-color);
    border-width: 1px;
    border-style: solid;
    text-decoration-color: #000000;
  }

  :root > * .md-search__icon {
    color: var(--md-primary-text-color);
  }

  :root > * .md-search__input::placeholder {
    color: var(--md-primary-text-color);
    background-color: transparent;
  }

  .md-typeset h1,
  h1 {
    font-weight: 400;
    font-size: 96px;
    line-height: 117px;
    /* identical to box height */
    color: #ffffff;
  }

  .md-typeset h2,
  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    padding-top: 128px;
    padding-bottom: 32px;
    /* identical to box height */

    background: radial-gradient(
      121.79% 1418.34% at 39.98% 0%,
      #7b61ff 0%,
      #018bf3 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .md-typeset h3,
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    /* or 131% */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* White */
    color: #ffffff;
  }

  .md-typeset p,
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 178% */
    /* White */

    color: #ffffff;
  }

  .md-source {
    color: var(--md-primary-text-color);
  }

  .mdx-hero {
    background-image: url('assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30vh;
    padding-bottom: 20vh;
    margin-top: -55px;
    width: auto;
    height: 100%;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-clip: border-box;
  }

  .mdx-hero-bottom {
    background-image: url('assets/images/bottom-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: -150px;
    width: auto;
    background-position-x: center;
  }

  .cta {
    width: 125vw;
    position: absolute;
    max-width: none !important;
    left: -20vw;
    bottom: 0;
    z-index: -1;
  }

  span.splash-title,
  p.splash-title {
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 117px;
    display: inline-block;
    color: #ffffff;
  }

  a.splash-cta {
    margin-top: 144px;
    text-decoration: none;
  }

  a.button-cta {
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: radial-gradient(
      85.37% 1691.2% at 12.66% -16.25%,
      #7b61ff 0%,
      #018bf3 100%
    ) !important/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 4px;
    margin-bottom: 72px;
    text-decoration: none;
  }

  .home {
    margin-top: 6vh;
  }

  .cta-title {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 96px !important;
    line-height: 117px !important;
    color: #ffffff;
    margin-top: 128px;
  }

  .cta-container {
    display: grid;
    text-align: center;
    justify-content: space-around;
    justify-items: center;
  }

  .cta-content {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    white-space: pre-line !important;
    color: #ffffff;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .md-footer, .md-footer-meta {
    background-color: transparent;
  }

  .md-footer__link {
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.15));
    border-radius: 16px;
  }
</style>
<section class="mdx-container mdx-hero">
  <div class="md-grid md-typeset">
    <div class="mdx-hero__content">
      <span class="splash-title">Orb Dynamic<br />Edge Observability</span>
      <a
        href="{{ page.next_page.url | url }}"
        title="{{ page.next_page.title | e }}"
        class="md-button md-button--primary splash-cta"
      >
        Get Started with Orb
      </a>
    </div>

  </div>
</section>

<section class="mdx-container home">
  <h2>Powerful analysis that's easy to<br>use and integrate</h2>
  <div class="md-grid md-typeset">
    {% block content %} {{page.content}} {% endblock %}
  </div>
</section>

<section class="mdx-container mdx-hero-bottom">
  <div class="md-grid md-typeset">     
      <div class="cta-container">
        <span class="cta-title">Backed by NS1</span>
        <span class="cta-content"
          >Orb was born at NS1 Labs, where we're commited to making open source,
          dynamic edge observabilty a reality</span
        >
        <a
          href="{{ page.next_page.url | url }}"
          title="{{ page.next_page.title | e }}"
          class="md-button md-button--primary button-cta"
        >
          Get Started with Orb
        </a>
      </div>
    
  </div>
</section>
{% endblock %}
