  {% extends "partials/main.html" %}
  {% block tabs %}
    {{ super() }}
    <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}
    .md-typeset h2, h2{text-align: center}</style>
    <section class="mdx-container">
      <div class="md-grid md-typeset">
        <div class="mdx-hero">
          <div class="mdx-hero__image">
            <img src="assets/images/background@2x.png" alt="" class="splash" draggable="false">
          </div>
          <div class="mdx-hero__content">
            <span class="splash-title">Orb Dynamic<br/>Edge Observability</span>
            <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary splash-cta">
              Get Started with Orb
            </a>  
          </div>
        </div>
      </div>
    </section>
    
    <section class="mdx-container home">
      <div class="md-grid md-typeset">
      {% block content %}
        {{page.content}}
      {% endblock %}
      </div> 
    </section>

    <section class="mdx-container">
      <div class="md-grid md-typeset">
        <div class="mdx-hero">
          <div class="mdx-hero__image">
            <img src="assets/images/bottom-background@2x.png" alt="" class="cta" draggable="false">
          </div>
          <div class="cta-container">
            <span class="cta-title">Backed by NS1</span>
            <span class="cta-content">Orb was born at NS1 Labs, where we're commited to making open 
              source, dynamic edge observabilty a reality</span>
            <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary button-cta">
              Get Started with Orb
            </a>  
          </div>
        </div>
      </div>
    </section>
  {% endblock %}


  
